{% extends "layout.html" %}

{% block content %}
    <main class="container login-section">
        <div class="section-content">
            <h1>Please add a sample</h1>
            <form method="POST" action="/precise/addsample">
                {{ form.hidden_tag() }}
                <div class="form-group">
                    {{ form.patientNumber.label }}
                    {{ form.patientNumber }}
                </div>
                <div class="form-group">
                    {{ form.filterNumber.label }}
                    {{ form.filterNumber }}
                </div>
                <div class="form-group">
                    {{ form.dateRec.label }}
                    {{ form.dateRec }}
                </div>
                <div class="form-group">
                    {{ form.mLBlood.label }}
                    {{ form.mLBlood }}
                </div>
                <div class="form-group">
                    {{ form.initials.label }}
                    {{ form.initials }}
                </div>
                <div style="padding:10px">
                    {{ form.submit(class="btn-primary") }}
                </div>
                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                      <ul>
                          {% for message in messages %}
                          <li>{{ message }}</li>
                          {% endfor %}
                      </ul>
                   {% endif %}
                {% endwith %}
            </form>
        </div>
    </main>


{% endblock %}

