{% extends "layout.html" %}

{% block header %}
    {{ super() }}
{% endblock %}

{% block content %}
    <main class="container login-section">
        <div class="section-content">
            <h1>Please add a sample</h1>
            <div id="form-content" style="display:inline-table">

            </div>
        </div>
    </main>

    {% block javascript %}
        {{ super() }}
<!--        so apparently you can declare variables for javascript here and they will be picked up by imported scripts...nice!-->
        <script type="text/javascript">
             var institutes = {{ institutes|tojson|safe }};
        </script>
        <script type='text/javascript' src={{ url_for('static', filename='node_modules/knockout/build/output/knockout-latest.js') }}></script>
        <script type='text/javascript' src={{ url_for('static', filename='node_modules/moment/moment.js') }}></script>
        <script type="text/javascript" src={{ url_for('static', filename='js/addsample.js') }}></script>
        <script type="text/javascript" src={{ url_for('static', filename='js/swLoader.js') }}></script>
        <script type="text/javascript" src={{ url_for('static', filename='js/db_stores.js') }}></script>
    {% endblock %}
{% endblock %}



