{% extends "layout.html" %}

{% block content %}
    <main class="container login-section">
        <div class="section-content">
            <h1>Welcome to the login page!</h1>
            {% if error %}
              <p><strong>Error:</strong> {{ error }}
            {% endif %}
            <form method="POST" action="/precise/login">
                {{ form.hidden_tag() }}
                <div class="form-group">
                    {{ form.email.label }}
                    {{ form.email }}
                </div>
                <div class="form-group">
                    {{ form.password.label }}
                    {{ form.password }}
                </div>
                {{ form.submit(class="btn-primary") }}
            </form>
        </div>
        {{ url_for('static') }}
    </main>


{% endblock %}