{% extends "layout.html" %}

{% block content %}
    <main class="container upload-section">
        <div class="section-content">
            <h1>Upload a zip file</h1>
            {% if error %}
              <p><strong>Error:</strong> {{ error }}
            {% endif %}
            <form method="POST" enctype="multipart/form-data">
                {{ form.hidden_tag() }}
                <div class="form-group">
                    {{ form.patientNumber.label }}
                    {{ form.patientNumber }}
                </div>
                <div class="form-group">
                    {{ form.filterNumber.label }}
                    {{ form.filterNumber }}
                </div>
                <div class="form-group">
                    {{ form.upfile.label }}
                    {{ form.upfile(multiple="") }}
                </div>
                <div style="padding:10px">
                    {{ form.submit(class="btn-primary") }}
                </div>
            </form>
            <br>
            <div class="container" paddingTop="25px">
                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                      <ul>
                          {% for message in messages %}
                          <li>{{ message }}</li>
                          {% endfor %}
                      </ul>
                   {% endif %}
                {% endwith %}
            </div>

        </div>
    </main>

{% endblock %}

